#navPanel{
	background-image:url("../../images/menubg.jpg");
	background-repeat: no-repeat;
	background-color:#271D14;
	background-size: cover;

	
}

#navPanel .links li a{
	color:white;
}

#navPanel ul.icons.alt li .icon:before{
	color:white;
}

.navPanelToggle{
	font-size:30px;
}

.indexspacing div{
	word-spacing:3px;
}

.alignfix{
	text-align:left;
}